.flex-container {

    display: flex;
    
    background-color: Purple;
    
    flex-wrap: wrap;
    
    width: 200px;
    
    }
    
    .flex-container > div {
    
    background-color: Orange;
    
    margin: 30px;
    
    padding: 20px;
    
    font-size: 20px;
    
    }